:root {
	/* - Grayscale - */
	--grey: #8A8EA1;
    --dark: #111D3B;
	/* - Action - */
	--primary: #2479E6;
}

body {
    font-family: 'Commissioner', sans-serif;
    background-color: #F5F8FE;
    cursor: default;
}

/* // STRUCTURE ////////////////////////////// */
.app {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    header {
        width: 100%;
    }
        
    main {
        width: 100%;
        flex-grow: 1;
    }    
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* /////////////////////////////////////////// */

/* // SECTIONS /////////////////////////////// */
section {
    padding: 32px 64px;
}

/* /////////////////////////////////////////// */

/* // BANNER ///////////////////////////////// */
.banner {
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);

    &__logo {
        padding: 10px 0;
        display: flex;
        align-items: center;

        span {
            position: relative;
            font-weight: 700;
            font-size: 2em;
            color: var(--dark);
        }
    }
}

/* /////////////////////////////////////////// */

/* // BREADCRUMBS //////////////////////////// */
/* /////////////////////////////////////////// */

/* // HEADLINE /////////////////////////////// */
.headline {
    padding: 15px 0;
    margin-bottom: 15px;

    span {
        font-weight: 600;
        font-size: 1.5em;
        color: var(--dark);
        line-height: 140%;
    }
    
    p {
        color: var(--grey);
        line-height: 140%;
    }

    a {
        font-weight: 300;
        font-size: 1em;
        white-space: nowrap;
        display: flex;
        align-items: center;
        gap: 4px;
        color: white;
        
        i {
            width: 1.5em;
            background-color: white;
        }

        &:hover {
            color: var(--primary);

            i {
                background-color: var(--primary);
            }
        }
    }
}

/* /////////////////////////////////////////// */

/* // FOOTER ///////////////////////////////// */
.footer {
    padding: 10px 0;
    background-color: var(--primary);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
    
    p {
        font-size: 0.875em;
        color: white;

        span {
            font-weight: 500;
        }
    }
}

/* /////////////////////////////////////////// */

/* // MODAL ////////////////////////////////// */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.25);
    z-index: 10;

    &__inner {
        padding: 15px;
        background-color: white;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
        border-radius: 5px;

        h3 {
            color: var(--dark);
            margin-bottom: 15px;
        }

        label {
            font-size: 0.875em;
            color: var(--grey);
        }

        input {
            width: 100%;
            font-size: 0.875em;
            color: var(--dark);
            background-color: unset;
            padding: 5px 0;
            border: none;
            border-bottom: 1px solid var(--grey);
            margin-bottom: 15px;
        }

        button {
            font-size: 0.875em;
            color: var(--grey);
            background-color: unset;
            padding: 5px 0;
            border: none;
            cursor: pointer;

            &:hover {
                color: var(--primary);
            }
        }
    }
}
/* /////////////////////////////////////////// */

/* // ANIMATIONS ///////////////////////////// */
/* /////////////////////////////////////////// */

/* // SELECTION ////////////////////////////// */
/* /////////////////////////////////////////// */

/* // SCROLLBAR ////////////////////////////// */
/* /////////////////////////////////////////// */